.div1{
	width: 600px;
	height: 400px;
	background-color: green;
	color: blue;
			/*top bottom left right*/
	/*margin: 20px;*/

	/*top bottom & left right*/
	/*margin: 20px 50px;*/

	/*top right bottom left*/
	/*margin: 10px 30px 30px 50px;*/

	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 40px;
	margin-right: 50px;
}

.div1 .bank{
	display: block;
}

.div1 .money{
	display: block;
}

.div1 .coin{
	display: block;
	position: absolute;

	margin-left: 400px;
}

.div2{
	width: 600px;
	height: 400px;
	background-color: green;
	color: blue;
	position: relative;
}

.div2 .bank{
	display: block;
}

.div2 .money{
	display: block;
}

.div2 .coin{
	display: block;
	position: absolute;

	margin-left: 600px;
}


h1{
	background: green;
	/*display: block;
	display: inline;*/

	display: flex;
}

.display1{
	width: 300px;
	height: 100px;
	background: green;
	border: 2px solid orange;

	/*opacity: 0;*//*0 to 1 element 0 spacing 1*/
	
			/*element 0 spacing 1=visible*/
	/*visibility: hidden;
	visibility: visible;*/

				/*element 0 spacing 1*/
	/*transform: scale(0);*/

			/*element 0 spacing 0*/
	/*display: none;*/

}

.display2{
	width: 300px;
	height: 100px;
	background: blue;
	border: 2px solid silver;

}


